.flex-header{
	display: flex;
	justify-content: center;
	padding: 14px 16px;
}

.header{
	background-color: lightblue;
	display: flex;
	justify-content: center;
	width: 50%;

	
}
.overskift{
	font-size: 50px;
	color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}